html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color:  rgb(24, 24, 24);
    overflow: hidden;
  }
    #view{
        position: fixed;
        left: 20px;
        top: 20px;
        height: 20px;
        width: 20px;
        object-fit: cover;
    }

    #canvas{
        position: fixed;
        left: 5px;
        top: 5px;
        object-fit: cover;
    }
    #wave{
        position: fixed;
        left: 5px;
        top: 5px;
        object-fit: cover;
    }

    #warning{
        position: fixed;
        object-fit: cover;
    }

    #view, #canvas{
        transform: scaleX(-1);
        filter: FlipH;
    }

    #restart{
        width: 100px;
        background-color: rgb(85, 144, 255);
        color: rgb(231, 239, 255);;
        font-size: 26px;
        border-radius: 20px;
        border: none;
        padding: 10px 10px;
        text-align: center;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
        position: fixed;
        bottom: 200px;
        right: 40px;
    }
    #feedback{
        margin: 0px;
        padding: 0px;
        left: 5px;
        top: 5px;
        height:300px;
        width: 400px;        
        color: rgb(53, 124, 255);
        background-color:  rgba(2, 59, 50, 0.555);
        -webkit-text-stroke-width: 1.25px;
        -webkit-text-stroke-color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 800;
        text-align: center;
        position: fixed;  
    }

    #HR{
        margin: 0px;
        padding: 0px;
        right: 5px;
        bottom: 80px; 
        width:165px;      
        color: rgb(233, 113, 193);
        -webkit-text-stroke-width: 1.25px;
        -webkit-text-stroke-color: black;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 35px;
        font-weight: 800;
        text-align: center;
        position: fixed;  
    }

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}